<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="flat-form">
        <h1>Edit Flat</h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
